.custom-modal {
    color: #fff;
    border: none;
  }
  
  .custom-modal-header {
    background-color: #0056b3;
    color: #fff;
    border: none;
  }
  
  .custom-modal-title {
    color: #fff;
  }
  
  .custom-modal-body {
    background-color: #fff;
  }
  
  .custom-label {
    color: #007BFF;
  }
  
  .custom-input {
    border: 1px solid #007BFF;
    margin-bottom: 5px;
  }
  
  .custom-button {
    background-color: #007BFF;
    color: #fff;
    margin-top: 20px;
  }
  
  .custom-modal-footer {
    background-color: #0056b3;
    color: #fff;
    border: none;
  }
  